<img src="img/logo.png" alt="" class="logox">
<div class="about-container">
    <p>NoteBuddies es un proyecto que nace basado en la arquitectura de software cliente-servidor, pero hace uso
        de microservicios y de la arquitectura REST.
    </p>
    <br>
    <p>
        Por estos motivos, es la manera en que funciona, cualquier persona podria realizar
        una interfaz de usuario y por medio de la api tendria acceso a la aplicacion.
    </p>
    <br>
    <p>
        El sentido de esto, radica en que ademas de utilizar NoteBuddies desde cualquier dispositivo donde 
        se disene una interfaz que conecte a la api, los desarrolladores no tendran que batallar en hacer un 
        login, conectar a base de datos, configurar el servidor, etc, etc ya que NoteBuddies lo hace mediante la api.
    </p>
</div>
<br><br><br><br><br><br><br>
<div class="footer">
    <p>Rodolfo Chavarria Contreras IDSM11</p>
</div>
</footer>