
<div class="container-reg">
    <div class="ctn-form">
        <img src="img/login.png" alt="" class="logox">
        <h3 class="title">Registro</h3>
        <form action="signedup" name="" id="" method="POST">
        <label for="">Usuario:</label>
        <input REQUIRED type="text" name="user" value="{{user}}"" placeholder="" maxlength="10" id=""/>
        <label>Contraseña:</label>
        <input REQUIRED type="password" name="pass" placeholder="Maximo 20 caracteres" maxlength="20"id=""/>
        <label>Confirmar:</label>
        <input type="password" name="pass2" placeholder="Confirma contrasena" maxlength="20"id=""/>
        <label>Telefono:</label>
        <input type="text" name="tel" placeholder="" value="{{tel}}" maxlength="10"id=""/>
        <label>Correo:</label>
        <input REQUIRED type="text" name="mail" value="{{mail}}" placeholder="correo@mail.com" maxlength="25"id=""/>
        <br>
        <br><input class="i2" type="submit" value="Registrarse" onclick=""id="">
</form>
</div>
</div>