<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteBuddies</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    
    <p>Navigation</p>
    <header>
            <a href="/">
            <h1>NoteBuddies</h1>
             </a>
            <nav>
                        <a href="/">Inicio</a>
                        <a href="about">About</a>
                        <!--<a href="signup">Registrarse</a>   -->
                        <a href="newnotes">Crear</a> 
            </nav>
            </div>
    </header>
    
    {{{body}}}
    <p>{{>errores}}</p>

</body>
;<!--<footer>
    <div class="footer">
        <p>Rodolfo Chavarria Contreras IDSM11</p>
    </div>
</footer>-->
</html>